[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BWGS"]
	path = BWGS
	url = https://github.com/byzheng/bwgs
[submodule "expDB"]
	path = expDB
	url = https://github.com/byzheng/expdb
[submodule "rapsimng"]
	path = rapsimng
	url = https://github.com/byzheng/rapsimng
[submodule "rtiddlywiki"]
	path = rtiddlywiki
	url = https://github.com/byzheng/rtiddlywiki
[submodule "taskqueue"]
	path = taskqueue
	url = https://github.com/byzheng/taskqueue
[submodule "weaana"]
	path = weaana
	url = https://github.com/byzheng/weaana
